$page_font: 'Open Sans Condensed', sans-serif !default;
$page_backgroundColor: #CCCCCC !default;
$page_color: #333333 !default;

$pageHeader_backgroundColor: #333333 !default;
$pageHeader_color: #FFFFFF !default;
$pageHeader_heading_fontSize: toRem(42px) !default;
$pageHeader_nav_fontSize: toRem(22px) !default;

$pageSection_backgroundColor: #CCCCCC !default;

$pageSection_header_fontSize: toRem(22px) !default;
$pageSection_header_fontWeight: bold !default;
$pageSection_header-sub_fontSize: toRem(18px) !default;
$pageSection_header-sub_fontWeight: normal !default;

$pageFooter_backgroundColor: $pageHeader_backgroundColor !default;
$pageFooter_color: $pageHeader_color !default;

$hero_backgroundColor: #CCCCCC !default;
$hero_color: #FFFFFF !default;
$hero_heading_fontSize: toRem(26px) !default;
$hero_content_fontSize: toRem(16px) !default;

$pageContent_header_fontSize: toRem(26px) !default;
$pageContent_header_fontWeight: bold !default;
$pageContent_header-sub_fontSize: toRem(20px) !default;
$pageContent_header-sub_fontWeight: normal !default;

$link_color: #718516 !default;
$link-visited_color: #505F10 !default;
$link_fontWeight: bold !default;
