.pageContent {
  flex-grow: 1;
  max-width: 50em;
  align-self: center;
  padding: $smallSpacing $largeSpacing;

  @include breakpoint(small, down) {
    padding: $smallSpacing / 2 $largeSpacing / 2;
  }

  &_header {
    display: inline-block;
    font-weight: $pageContent_header_fontWeight;
    font-size: $pageContent_header_fontSize;
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    & + &:before {
      content: '-';
      margin: 0 0.25em;
    }

    &-sub {
      font-weight: $pageContent_header-sub_fontWeight;
      font-size: $pageContent_header-sub_fontSize;
    }

    &-full {
      display: block;
    }
  }

  &_section {

  }

  &_youtube {
    max-width: 100%;
    margin-top: 1em;
  }
}
