.pageSection {
  background-color: $pageSection_backgroundColor;

  &-small {
    @include breakpoint(medium, up) {
      display: inline-block;
      vertical-align: top;
      width: 32%;
      padding: 0.5em;
    }
  }

  &_header {
    display: block;
    font-size: $pageSection_header_fontSize;
    font-weight: $pageSection_header_fontWeight;
    margin-top: 1em;

    &-sub {
      font-size: $pageSection_header-sub_fontSize;
      font-weight: $pageSection_header-sub_fontWeight;
    }

    .resume_job & {
      @include breakpoint(medium, up) {
        display: inline-block;

        &-sub {
          text-align: right;
          float: right;
        }
      }
    }

    img {
      vertical-align: middle;
    }
  }

  &_text {
    margin-top: 0.5em;
  }
}
