.pageSection {
  background-color: $pageSection_backgroundColor;

  &_header {
    display: inline-block;
    font-size: $pageSection_header_fontSize;
    font-weight: $pageSection_header_fontWeight;
    margin-top: 1em;

    & + &:before {
      content: '-';
      margin: 0 0.25em;
    }

    &-sub {
      font-size: $pageSection_header-sub_fontSize;
      font-weight: $pageSection_header-sub_fontWeight;
    }

    img {
      vertical-align: middle;
    }
  }

  &-small {
    @include breakpoint(medium, up) {
      display: inline-block;
      width: 32%;
    }
  }
}
