.hero {
  max-width: 100%;

  background-color: $hero_backgroundColor;
  color: $hero_color;

  &-home {
    padding: $largeSpacing;
  }

  &-armadyne {
    background: center url('/img/Armadyne_Level_01.png');
  }

  &_heading,
  &_content {
    max-width: 60rem;
  }

  &_heading {
    margin-bottom: $smallSpacing / 2;
    font-size: $hero_heading_fontSize;
  }

  &_content {
    font-size: $hero_content_fontSize;
  }

  &_image {
    max-width: 100%;
    max-height: 30rem;
  }
}
