@import 'reset';
@import 'reset.my';

@import 'config';

.pageSection {
  padding: $smallSpacing $largeSpacing;

  @include breakpoint(small, down) {
    padding: $smallSpacing / 2 $largeSpacing / 2;
  }
}

.pageSection + .pageSection {
  border-top: 1px solid #999999;
}

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  background-color: $pageHeader_backgroundColor;
  color: $pageHeader_color;
}

.mainNavLinks {
  display: flex;
}

.mainNavLinks_link {
  display: flex;

  & + .mainNavLinks_link:before {
    content: '/';
    margin: 0 0.5em;
  }
}

.hero {
  padding-top: $largeSpacing;
  padding-bottom: $largeSpacing;
  background: $hero_background;
  background-size: cover;
  color: $hero_color;

  &_heading,
  &_content {
    max-width: 400px;
  }

  &_heading {
    margin-bottom: $smallSpacing / 2;
  }
}
