/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

html {
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.25rem; }

html {
  font-family: "Open Sans Condensed", sans-serif;
  color: #333333; }

.grid {
  display: flex; }

a {
  color: #91AB1C;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #718516; }

.bulletedList {
  list-style-type: disc;
  padding: 1em 1em 0 2em;
  line-height: 1.5rem; }

.pageSection {
  padding: 1em 2em;
  background-color: #CCCCCC; }
  @media (max-width: 30em) {
    .pageSection {
      padding: 0.5em 1em; } }
  .pageSection_header {
    display: inline-block;
    font-size: 1.375rem;
    font-weight: bold;
    margin: 0 0 1em; }
    .pageSection_header + .pageSection_header:before {
      content: '-';
      margin: 0 0.25em; }
    .pageSection_header-sub {
      font-size: 1.125rem;
      font-weight: normal; }
    .pageSection_header img {
      vertical-align: middle; }

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  background-color: #333333;
  color: #FFFFFF; }
  .pageHeader_heading {
    font-size: 2.625rem; }
  .pageHeader_nav {
    font-size: 1.375rem; }

.pageContent {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline; }
  .pageContent_header {
    font-weight: bold;
    font-size: 1.625rem; }
    .pageContent_header + .pageContent_header:before {
      content: '-';
      display: inline-block;
      margin: 0 0.25em; }
    .pageContent_header-sub {
      font-weight: normal;
      font-size: 1.25rem; }

.pageFooter {
  background-color: #333333;
  color: #FFFFFF; }

.mainNavLinks {
  display: flex; }

.mainNavLinks_link {
  display: flex; }
  .mainNavLinks_link + .mainNavLinks_link:before {
    content: '/';
    margin: 0 0.5em; }

.hero {
  max-width: 100%;
  padding: 2em;
  background: center url("/img/Armadyne_Level_01.png");
  background-size: cover;
  color: #FFFFFF; }
  .hero_heading, .hero_content {
    max-width: 60rem; }
  .hero_heading {
    margin-bottom: 0.5em;
    font-size: 1.625rem; }
  .hero_content {
    font-size: 1rem; }
  .hero_image {
    max-width: 100%;
    max-height: 100%; }
