/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1.25rem; }

html {
  font-family: "Open Sans Condensed", sans-serif;
  height: 100%; }

a {
  color: #718516;
  font-weight: bold;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }
  a:visited {
    color: #505F10; }

.bulletedList {
  list-style-type: disc;
  padding: 1em 1em 0 2em;
  line-height: 1.5rem; }

.page {
  background-color: #CCCCCC;
  color: #333333;
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.pageSection {
  background-color: #CCCCCC; }
  @media (min-width: 50em) {
    .pageSection-small {
      display: inline-block;
      vertical-align: top;
      width: 32%;
      padding: 0.5em; } }
  .pageSection_header {
    display: block;
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 1em; }
    .pageSection_header-sub {
      font-size: 1.125rem;
      font-weight: normal; }
    @media (min-width: 50em) {
      .resume_job .pageSection_header {
        display: inline-block; }
        .resume_job .pageSection_header-sub {
          text-align: right;
          float: right; } }
    .pageSection_header img {
      vertical-align: middle; }
  .pageSection_text {
    margin-top: 0.5em; }

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: #333333;
  color: #FFFFFF; }
  .pageHeader_heading {
    font-size: 2.625rem; }
  .pageHeader_nav {
    font-size: 1.375rem; }

.pageContent {
  flex-grow: 1;
  max-width: 80em;
  align-self: center;
  padding: 1em 2em; }
  @media (max-width: 30em) {
    .pageContent {
      padding: 0.5em 1em; } }
  .pageContent_header {
    display: inline-block;
    font-weight: bold;
    font-size: 1.625rem;
    margin-top: 0.5em;
    margin-bottom: 0.5em; }
    .pageContent_header + .pageContent_header:before {
      content: '-';
      margin: 0 0.25em; }
    .pageContent_header-sub {
      font-weight: normal;
      font-size: 1.25rem; }
    .pageContent_header-full {
      display: block; }
  .pageContent_row {
    display: block; }
  .pageContent_youtube {
    max-width: 100%;
    margin-top: 1em; }

.pageFooter {
  background-color: #333333;
  color: #FFFFFF;
  padding: 1em 2em; }

.mainNavLinks {
  display: flex; }

.mainNavLinks_link {
  display: flex; }
  .mainNavLinks_link + .mainNavLinks_link:before {
    content: '/';
    margin: 0 0.5em; }

.hero {
  max-width: 100%;
  background-color: #CCCCCC;
  color: #FFFFFF; }
  .hero-home {
    padding: 2em; }
  .hero-armadyne {
    background-image: url("/img/Armadyne_Level_01.png");
    background-position: center;
    background-size: cover; }
  .hero_header, .hero_content {
    display: block;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.25em; }
  .hero_header {
    margin-bottom: 0.5em;
    font-size: 1.625rem; }
  .hero_content {
    font-size: 1rem; }
  .hero_image {
    max-width: 100%;
    max-height: 30rem; }

.credit_name {
  font-weight: bold; }

.credit_role:before {
  content: '-';
  margin-right: 0.25em; }
