/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 2.0rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.6rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.2rem; }

html {
  font-family: "Open Sans Condensed", sans-serif; }

.pageSection {
  padding: 1em 2em; }
  @media (max-width: 30em) {
    .pageSection {
      padding: 0.5em 1em; } }

.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  background-color: #333333;
  color: #FFFFFF; }

.mainNavLinks {
  display: flex; }

.mainNavLinks_link {
  display: flex; }
  .mainNavLinks_link + .mainNavLinks_link:before {
    content: '/';
    margin: 0 0.5em; }

.hero {
  max-width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  background: center url("/img/Armadyne_Level_01.png");
  background-size: cover;
  color: #FFFFFF; }
  .hero_heading, .hero_content {
    max-width: 400px; }
  .hero_heading {
    margin-bottom: 0.5em; }
  .hero_image {
    max-width: 100%;
    max-height: 100%; }

.pageFooter {
  background-color: #333333;
  color: #FFFFFF; }
