<!doctype html>
<html>
	{{> head title="Home"}}
	<body class="page">
		{{> header}}
		<section class="hero hero-home hero-armadyne">
			<h2 class="hero_header">UI Engineer</h2>
		</section>
		<article role="main" class="pageContent">
			<section class="pageSection">
				<h2 class="pageSection_header">About Me</h2>
				<p class="pageSection_text">
					Hi! I'm Justin. I make games, websites, and other interactive media. My passion lies in programming immersive user interfaces, but I like to tinker and experiment with all aspects of technology.
				</p>
				<p class="pageSection_text">
					Check out things I've made on my <a href="//github.com/justinryder">GitHub</a>, <a href="//www.youtube.com/user/JustinRyderGames">YouTube</a>, and <a href="//codepen.io/justinryder">CodePen</a>!
				</p>
			</section>
			<section class="pageSection">
				<h2 class="pageSection_header">Featured Projects</h2>
				<section class="pageSection pageSection-small">
					<h2 class="pageSection_header">
						<a href="/projects/baby-boomer.html">
							Baby Boomer
						</a>
					</h2>
					<p class="pageSection_text">
						Can AngularJS be used to create an infinite scroller? Yes. Should it? No. But I did it anyways! <a href="/projects/baby-boomer/play">Play as a lost baby navigating the infinite aisles of a grocery store, dodging tipped carts and more.</a>
					</p>
				</section>
				<section class="pageSection pageSection-small">
					<h2 class="pageSection_header">
						<a href="/projects/physics-engine.html">
							Physics Engine
						</a>
					</h2>
					<p class="pageSection_text">
						I built a physics engine with C++ and DirectX and uploaded some of the more ridiculous demos to YouTube. Like when I used it to build a <a href="//youtu.be/DQAF9jrjH60">Newton's cradle</a>, an overly interconnected <a href="//youtu.be/CSh6-bKHfo4">cube of springs</a>, or even the <a href="//youtu.be/is8njrJ84hY">Solar System</a>.
					</p>
				</section>
				<section class="pageSection pageSection-small">
					<h2 class="pageSection_header">
						<a href="//youtu.be/ly6n3BWXvtQ">
							Omni-Shelf
						</a>
					</h2>
					<p class="pageSection_text">
						What if you could go grocery shopping without leaving the comfort of your own home? In this 2 day hackathon, my team explored ways to build a VR shopping experience that brings the store shelves to your VR world. While we're in VR, we might as well shop in the forest or on a mountain or in Skyrim.
					</p>
				</section>
			</section>
		</article>
		{{> footer}}
	</body>
</html>
