<!doctype html>
<html>
	{{> head title="Home"}}
	<body class="page">
		{{> header}}
		<section class="hero hero-home hero-armadyne">
			<h2 class="hero_header">Under Construction</h2>
			<p class="hero_content">
				Justin-Ryder.com is under construction.
			</p>
		</section>
		<article role="main" class="pageContent">
			<section class="pageSection">
				<h2 class="pageSection_header">About Me</h2>
				<p class="pageSection_text">
					Hi! I'm Justin. I make games, websites, and other interactive media. My passion lies in programming immersive user interfaces, but I like to tinker and experiment with all aspects of technology.
				</p>
				<p class="pageSection_text">
					Check out things I've made on my <a href="//github.com/justinryder">GitHub</a>, <a href="//www.youtube.com/user/JustinRyderGames">YouTube</a>, and <a href="//codepen.io/justinryder">CodePen</a>!
				</p>
			</section>
			<section class="pageSection">
				<h2 class="pageSection_header">Featured Projects</h2>
				<section class="pageSection pageSection-small">
					<h2 class="pageSection_header">
						<a href="/projects/baby-boomer.html">
							Baby Boomer
						</a>
					</h2>
					<p class="pageSection_text">
						Can AngularJS be used to create an infinite scroller? Yes. Should it? No. But I did it anyways! <a href="/projects/baby-boomer/play">Play as a lost baby navigating the infinite aisles of a grocery store, dodging tipped carts and more.</a>
					</p>
				</section>
				<section class="pageSection pageSection-small">
					<h2 class="pageSection_header">Physics Engine</h2>
					<p class="pageSection_text">
						I built a physics engine with C++ and DirectX and uploaded some of the more ridiculous demos to YouTube. Like when I used it to build a <a href="//youtu.be/DQAF9jrjH60">Newton's cradle</a>, an overly interconnected <a href="//youtu.be/CSh6-bKHfo4">cube of springs</a>, or even the <a href="//youtu.be/is8njrJ84hY">Solar System</a>.
					</p>
				</section>
				<section class="pageSection pageSection-small">
					<h2 class="pageSection_header">
						<a href="//github.com/justinryder/Agent-Smiths-Super-Savings-A-Neo-Shopping-Experience">
							Agent Smith's Super Savings
						</a>
					</h2>
					<p class="pageSection_text">
						Grocery shopping is boring. VR is fun. Let's combine them into a shooter where you have to shoot the items on your shopping list without going overbudget!
					</p>
				</section>
			</section>
		</article>
		{{> footer}}
	</body>
</html>
