<!doctype html>
<html>
	{{> head title="Projects"}}
	<body class="page">
		{{> header}}
		<article role="main" class="pageContent">
			<section class="pageSection">
				<h2 class="pageSection_header">Projects</h2>
        {{#each projects}}
  				<section class="pageSection pageSection-small">
  					<h2 class="pageSection_header">
  						<a href="{{url}}">
  							{{name}}
  						</a>
  					</h2>
  					<p class="pageSection_text">
  						{{description}}
  					</p>
  				</section>
        {{/each}}
			</section>
		</article>
		{{> footer}}
	</body>
</html>
