<!doctype html>
<html>
  {{> head}}
	<body>
		{{> header}}
		<article class="pageContent">
			<h2 class="pageContent_header">{{title}}</h2>
      {{#each technologies}}
	  	  <h3 class="pageContent_header pageContent_header-sub">{{name}}</h3>
      {{/each}}
      {{> hero hero}}
      {{#each pageSections}}
  			{{> pageSection}}
      {{/each}}
		</article>
		<aside class="pageContent pageContent-secondary">
      {{#if skills}}
  			{{> skills}}
      {{/if}}
      {{#if credits}}
  			{{> credits}}
      {{/if}}
		</aside>
		{{> footer}}
	</body>
</html>
