<!doctype html>
<html>
	{{> head title="Justin Ryder - Resume"}}
	<body>
		{{> header}}
		<article role="main" class="pageSection">
			<h2>Justin Ryder - Resume</h2>
		</article>
		{{> footer}}
	</body>
</html>
