{{#each contents}}
  {{#if text}}
    <p class="pageSection_text">{{text}}</p>
  {{/if}}
  {{#if list}}
    {{> list}}
  {{/if}}
  {{#if code}}
    {{> code code}}
  {{/if}}
  {{#if aside}}
    {{> aside aside}}
  {{/if}}
  {{#if youtube}}
    {{> youtube youtube}}
  {{/if}}
  {{#if credits}}
    {{> credits credits}}
  {{/if}}
  {{#if subheading}}
    <h4 class="pageSection_header">{{subheading}}</h4>
  {{/if}}
{{/each}}
