{{#each contents}}
  {{#if text}}
    <p class="text">{{text}}</p>
  {{/if}}
  {{#if list}}
    {{> list}}
  {{/if}}
  {{#if code}}
    {{> code code}}
  {{/if}}
  {{#if aside}}
    {{> aside aside}}
  {{/if}}
  {{#if youtube}}
    {{> youtube youtube}}
  {{/if}}
  {{#if credits}}
    {{> credits credits}}
  {{/if}}
{{/each}}
