<header class="pageHeader">
  <h1 class="pageHeader_heading">Justin Ryder</h1>
  <nav class="pageHeader_nav">
    <ul class="mainNavLinks">
      <li class="mainNavLinks_link mainNavLinks_link-current">
        <a href="/index.html">Home</a>
      </li>
      <li class="mainNavLinks_link">
        <a href="/projects.html">Projects</a>
      </li>
      <li class="mainNavLinks_link">
        <a href="/resume.html">Resume</a>
      </li>
    </ul>
  </nav>
</header>
