<header class="pageHeader pageSection">
  <h1 class="pageHeader_heading">Justin Ryder</h1>
  <nav class="pageHeader_nav">
    <ul class="mainNavLinks">
      <li class="mainNavLinks_link mainNavLinks_link-current">
        <a href="/index.html">Home</a>
      </li>
      <li class="mainNavLinks_link"
        <a href="/project.html">Projects</a>
      </li>
      <li class="mainNavLinks_link">
        <a href="/resume">Resume</a>
      </li>
      <li class="mainNavLinks_link">
        <a href="/education">Education</a>
      </li>
      <li class="mainNavLinks_link">
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
